:root {
  --primary-color: #4CAF50; /* Green */
  --bg-color: #F5F5F5; /* Very light grey */
  --light-bg-color: #FFFFFF; /* White */
  --text-color: #333333; /* Dark grey */
  --light-text-color: #888888; /* Light grey */
  --primary-text-color: #FFFFFF; /* White */
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 30px;
  background: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  color: var(--text-color);
  background-color: var(--bg-color);
}

body .navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100vw;
  border-bottom: 1px solid var(--light-text-color);
  background-color: var(--primary-color);
}

.navbar .nav-text {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  color: var(--primary-text-color);
}

.container {
  position: relative;
  width: 90%;
  padding: 0 10px;
  display: flex;
  gap: 10px;
}

.container .card {
  flex: 1;
  padding: 30px;
  border-radius: 20px;
  background-color: var(--light-bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container .card .from,
.container .card .to {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container .card .from {
  margin-right: 20px;
}

.container .card .to {
  margin-left: 20px;
}

.container .card .heading {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--light-text-color);
  white-space: nowrap;
}

.dropdown-container {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

.dropdown-container .dropdown-toggle {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 30px;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: all 0.3s;
}

.dropdown-container .dropdown-toggle span {
  flex: 1;
  margin-left: 10px;
}

.dropdown-container .dropdown-toggle ion-icon {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.dropdown-container.active .dropdown-toggle {
  border-radius: 20px 20px 0 0;
}

.dropdown-container.active .dropdown-toggle ion-icon:last-child {
  transform: rotate(180deg);
}

.dropdown-container .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 170px;
  overflow: auto;
  display: none;
  padding: 20px;
  z-index: 1;
  list-style: none;
  flex-direction: column;
  background-color: var(--bg-color);
  transition: all 1s;
  border-radius: 0 0 20px 20px;
}

.dropdown-container .dropdown-menu::-webkit-scrollbar {
  display: none;
}

.dropdown-container.active .dropdown-menu {
  display: flex;
}

.dropdown-container .dropdown-menu li {
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--light-bg-color);
  transition: all 0.3s ease;
}

.dropdown-container .dropdown-menu li:hover {
  background-color: var(--light-bg-color);
}

.dropdown-container .dropdown-menu li.active {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

.container .text-area {
  position: relative;
}

.container textarea {
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  background-color: transparent;
  resize: none;
  outline: none;
  border: none;
  color: var(--text-color);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  
}

.container .text-area .chars {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 0.8rem;
  color: var(--light-text-color);
}

.container .center {
  position: relative;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #888;
  display: none;
  /* Initially hidden */
}

.swap-position {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid var(--bg-color);
  transition: all 0.3s ease;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

.swap-position ion-icon {
  font-size: 25px;
}

.swap-position:hover {
  transform: translateX(-50%) scale(1.1);
}

.card-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  border-top: 2px solid var(--bg-color);
}

.card-bottom p {
  margin-bottom: 20px;
}

.card-bottom label {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 30px;
  background-color: var(--bg-color);
}

.card-bottom label:hover {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

.card-bottom span {
  font-size: 12px;
  pointer-events: none;
}

.card-bottom ion-icon {
  font-size: 20px;
}

.card-bottom button {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  color: var(--text-color);
  cursor: pointer;
  background-color: var(--bg-color);
}

.card-bottom button:hover {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

.copy-link {
  margin-bottom: 35px;
}

textarea {
  position: relative;
}

.card button {
  position: absolute;
  left: 90%;
  top: 95%;
  font-size: 26px;
  color: var(--text-color);
  transition: 0.3s;
  border: none;
  outline: none;
  background-color: transparent;
}

.card i {
  cursor: pointer;
  transition: 0.3s;
}

.card .copy-link {
  position: relative;
}

.card i:hover {
  color: var(--primary-color);
}

.copy-popup {
  position: absolute;
  bottom: 8%;
  left: 90%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s;
}

/* Media queries */
@media (max-width: 800px) {
  .container {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    transform: scale(0.9);
  }

  .container .card {
    width: 100%;
  }

  .container .card .from {
    margin-right: 0;
  }

  .container .card .to {
    margin-left: 0;
  }

  .container .card .from,
  .container .card .to {
    flex-direction: column;
  }

  .swap-position {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .swap-position:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }

  .swap-position ion-icon {
    transform: rotate(90deg);
  }

  .card-bottom {
    display: none;
  }

  text-area {
    height: 150px;
  }

  .navbar {
    padding: 10px 0;
    background-color: var(--primary-color);
  }

 

  
  body {
    gap: 0px;
  }

  .card button {
    position: absolute;
    left: 90%;
    top: 80%;
  }

  .copy-popup {
    position: absolute;
    bottom: 20%;
    left: 90%;
  }
}
